$primary__color:#0061E0;
$secondary__color:#0D263B;
$text__color:#0A0A0A;
$gray__color:#7C8893;
 
//  font size 

$primary__font: 1.8rem;
$primary__line: 2.8rem;

$secondary__font: 1.6rem;
$secondary__line: 2.6rem;

$tertiary__font: 1.4rem;
$tertiary__line: 2.4rem;

// btn font size 

$btn__font: 1.6rem;
$btn__line: 2.6rem; 