.margin-left{
    margin-left: 3rem;
}
.margin-b{
    margin-bottom: 3rem;
}
.margin-b__large{
    margin-bottom: 9rem;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}

