.header{
    position: sticky;
    top:0;
    z-index: 4;
}

.nav {

    padding: 1.3rem;
    background-color: #ECF2F9;
    
   
    & > .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // box-shadow: 0px 18px 29px -14px rgba(74, 157, 251, 0.441);
        // -webkit-box-shadow: 0px 18px 29px -14px rgba(0,0,0,0.75);
        // -moz-box-shadow: 0px 18px 29px -14px rgba(0,0,0,0.75);

    }
    &__logo {
        &>img {
            width: 22.0rem;
        }

        
        margin-right: 3.3rem;
    }

    &__menu {
        width: 60rem;


        &>ul {

            display: flex;
            font-size: $secondary__font;
            line-height: $tertiary__line;
            justify-content: space-around;
            align-items: center;
            color: $gray__color;

            & li {
                text-decoration: none;
                list-style: none;

            }

            & li:hover:not(:nth-child(6)) {
                text-decoration: underline;
                color: $primary__color;

            }

            & li button.nav__btn {
                padding: 1.6rem;
                text-align: center;
                border: none;
                background-color: $primary__color;
                color: white;

            }
        }
    }

    &__search--icon {
        padding: 1rem;
        background-color: #FFFFFF;
        border-radius: 50%;
        box-shadow: -0.3rem 1rem 2rem 0.5rem;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    

}


hr{
    height: .1rem;
    background-color: #8db8ef;
    border: none;
    box-shadow: 0px 18px 29px -14px rgba(74, 157, 251, 0.441);
    
}